#hintFragment h3 {
    font-size: 2.5em;
    margin: 10px 0;
    color: #000; /* Make the numbers black */
    user-select: text; /* Ensure the user can highlight the text */
    background-color: #000; /* Set a dark background to make the black text less visible unless highlighted */
    padding: 10px;
    display: inline-block; /* Keep them inline to look like fragments of a code */
}

#hintFragment h3:hover {
    background-color: #000; /* Darker on hover to make it more interactive */
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    position: relative;
}

.message h1 {
    font-size: 3em;
    animation: flicker 1s infinite;
}

@keyframes flicker {
    0% { opacity: 0.1; }
    50% { opacity: 1; }
    100% { opacity: 0.1; }
}

button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #666;
}
